record(stringin,"$(REQUIRE_IOC):RequireVersion")
{
    field(DESC, "Version of the require EPICS module")
    field(DTYP, "getenv")
    field(INP,  "@require_VERSION")
    field(PINI, "YES")
    field(DISP, "1")
}

record(waveform, "$(REQUIRE_IOC):Modules")
{
    field(DESC, "Names of loaded modules")
    field(FTVL, "STRING")
    field(NELM, "$(MODULE_COUNT)")
    field(PINI, "YES")
    field(DISP, "1")

    info(Q:group, {
        "$(REQUIRE_IOC):LoadedModules":{"value.MODS":{+trigger:"*",+channel:"VAL"}}
    })
}

record (waveform, "$(REQUIRE_IOC):Versions")
{
    field (DESC, "Versions of loaded modules")
    field (FTVL, "STRING")
    field (NELM, "$(MODULE_COUNT)")
    field (PINI, "YES")

    info(Q:group, {
        "$(REQUIRE_IOC):LoadedModules":{"value.VERS":{+type:"plain",+channel:"VAL"}}
    })
}

# This record contains labels for the created NTTable, named $(REQUIRE_IOC):LoadedModules.
record(aai, "$(REQUIRE_IOC):Labels")
{
    field(DESC, "Labels for the NTTable")
    field(FTVL, "STRING")
    field(NELM, "2")
    field(INP,  {const:["Module", "Version"]})
    field(PINI, "YES")
    field(DISP, "1")

    info(Q:group, {
        "$(REQUIRE_IOC):LoadedModules":{
            +id:"epics:nt/NTTable:1.0",
            "labels":{+type:"plain", +channel:"VAL"}
        }
    })
}
